canvas {
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

body{
    margin:0;
    padding:2px;
    font: 16px/1.6  sans-serif;
    color:black;
}

.container{
    position: absolute;
    margin: 0 auto;
    padding: 10px;
    display: grid;
}

.info{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-height: 170px;
}

h1{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0;
    font: 40px sans-serif;
}
.controls{
    list-style:none;
    padding: 2px;
    margin: 10px;
}

.controls li{
    position:relative;
    padding-left:10px;
    margin: 0 0;
    font: 16px/1.6  sans-serif;
    font-weight: 500;
}

kbd{
    display:inline-block;
    padding: 4px 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom-width: 2px;
    border-radius: 4px;
    background: white;
    font: 13px/1.1  sans-serif;
}

.fpsCounter{
    position: fixed;
    top: 10px;
    left: 900px;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 5px;
    font: 16px/1.6 sans-serif;
    z-index: 100;"
    border-bottom-width: 2px;
    border-radius: 4px;
}